
span.ui-btn-inner {
    border: none;
    box-shadow: none;
}

span.ui-btn-text {
    border: none;
    box-shadow: none;
}

.ui-btn-up-g {
    font-weight: normal;
}

.ui-header > .ui-btn {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-icon-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-icon-flat-menu {
    background-color: transparent;
}

.navbar-top {

}

.navbar-top ul li:first-child, .navbar-top ul li:last-child {
    width: 40%;
}

.navbar-top ul li:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.navbar-top ul li:last-child a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: right;
}

.navbar-top ul li:nth-child(2) {
    width: 20%;
    height: 36px;
    background-color: rgb(242, 242, 242);
}

.ui-footer {
    min-height: 40px;
}
